*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial,, sans-serif;
}
/*...........................................*/
.container{
    background-image:url(./YazilimTurk_DK_KodBlogu.png) ;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    height:1000px;
    
}
/*...........................................*/
.img{
    height:200px;
    width: 210px;
    float: left;
    opacity: 0.6; 
}
/*...........................................*/
#item{
    background-color: transparent;
    display: flex;
    margin: 2rem;d
    padding: 2rem;
    gap: 3rem;
    flex-wrap: wrap;
}

/*...........................................*/,
#menu{
    display:block;
}
/*..........................................*/
.newbar .nwul{
    position: relative;
    background-color:rgba(27, 134, 36, 0.61);
    display: flex;
    gap: 4rem;
    padding: 20px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}  
/*...........................................*/
.nwul li{
        background-color: black;
        border-radius: 40px;
        padding: 10px;
        display: block;
}
/*...........................................*/
.nwul li a{
    font-size:20px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
}
/*...........................................*/
.nwul li:hover{
    background-color: red;
}
/*...........................................*/
.nwul li a:hover{
    background-color: red;
}
/*...........................................*/
p{
    background-color: transparent;
    font-size: 20px;
    color: rgb(253, 248, 248);
}
/*...........................................*/
h3{
    font-size: 30px;
    color: red;
}
/*...........................................*/